.bundle
db/*.sqlite3
log/*.log
log/*.log.*
tmp/**/*
.DS_Store
*~
*#
TAGS
config/git.txt
config/database.yml
config/neography.yml
config/shards.yml
config/companies-house.yml
config/resque.yml
config/testenv.yml
config/elasticsearch.yml
config/initializers/authentication_details.rb
db/data
db/development_structure.sql
companies.sql*
solr
config/initializers/authentication_details.rb
config/sunspot.yml
config/smtp_gmail.yml
config/s3.yml
config/jenkins_config/initializers/authentication_details.rb
config/nginx_ip_blocking
lib/tasks/migrate_gazette_data.rake
public/stylesheets/screen.css
.sass-cache/
public/assets/
*~
*#
.#
coverage
dump.rdb
TAGS
.gogo_*
Gofile
webrat.log
/db/structure.sql
db/data
*class
contrib/neo-extension/target
.tm_properties
neo4j
.vagrant
.rbenv*
